sharp_binary_host=https://github.com/lovell/sharp-libvips/releases
sharp_libvips_binary_host=https://github.com/lovell/sharp-libvips/releases
sharp_dist_base_url=https://github.com/lovell/sharp-libvips/releases/download
sharp_build_from_source=false
