# Usar el registro de npm oficial
registry=https://registry.npmjs.org/

# Configuración para sharp
sharp_ignore_platform=1
sharp_build_from_source=1
sharp_libvips_binary_site=""
sharp_binary_host=""
sharp_libvips_binary_host=""

# Configuración para evitar problemas de red
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-retries=5
