# Usar el registro de npm oficial
registry=https://registry.npmjs.org/

# Configuración para sharp
sharp_binary_host="https://github.com/lovell/sharp-libvips/releases/download"
sharp_libvips_binary_host="https://github.com/lovell/sharp-libvips/releases/download"
sharp_dist_base_url="https://github.com/lovell/sharp-libvips/releases/download"

# Configuración para evitar problemas de red
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-retries=5
